.explorer-folder-item {
    $folder-item: &;
    margin-top: 10px;
    span {
        font-size: 1em;
        margin-right: 5px;
    }

    &__head {
        display: flex;
        align-items: center;
        transition: 0.2s;
        width: 100%;
        cursor: pointer;
        color: #8f8f8f;
        border-radius: 7px;
        background-color: #FFFFFF;
        padding: 5px 10px;

        &.active {
            color: #292F69 ;
            background-color: rgba(133, 143, 237, 0.2);
            transform: rotate(0deg);
            transition: transform .3s linear;
            #{$folder-item}__indicator {
                transform: rotate(90deg);
                transition: transform .3s linear;
            }
        }

        &:hover {
            color: #292F69 ;
            background-color: rgba(133, 143, 237, 0.2);
        }
    }

    &__list {
        padding-left: 15px;
        max-height: 0;
        opacity: 0;
        transition: max-height .6s linear, opacity .2s;
        &.active {
            max-height: 800px;
            transition: max-height .6s linear, opacity .2s;
            opacity: 1;
        }
    }
}